:root {
--brand-font: "Roboto", sans-serif;
--sub-brand-font: "Raleway", sans-serif;
--main-brand-color: #4d5ae5;
--sub-brand-color: #2E2F42;
--text-color:#434455;
--background-color: #F4F4FD;
--main-background-color:#E5E5E5;
--button-color: #4d5ae5;
--white-background-color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background-color);
    }

.title {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list {
    list-style: none;
}

/*---header---*/

.header-address {
    font-weight: 800;
    line-height: 1.17;
    font-style: normal;
    text-decoration: none;
}

.logo-text {
    color: #2E2F42;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    color: #434455;
}
.contacts:hover, .contacts:focus {
    color: #404bbf;
}

 /* --Hero image--*/
  
.main-title {  
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

 .main-section {
    text-align: center;
    background-color: #2E2F42;
    color:#FFFFFF;
}

 .main-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
 }

.main-btn:hover, .main-btn:focus {
    background: #404BBF;
}

/* SECTION1*/

.section-item-title {
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;   
}

.section-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---Section2---*/

.section-pic-title {
    line-height: 1.11;
    text-align: center;
    color: var(--sub-brand-color);
}

/*--section-TEAM--*/

.section-team {
    background-color: #F4F4FD ;
}

.section-team-item {
    background-color: #ffffff;
}

.section-title {
    line-height: 1.11;
    text-align: center;
    color:#2e2f42;
}

.section-team-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;    
}

.section-team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*--Footer--*/

.logo-footer-text {
    color: #F4F4FD;
}

/*-----------PORTFOLIO-------------*/

/*---logo---*/

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
    
    .logo-text {
        color: #2E2F42;
}

/*---Header---*/

.header-item-link {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.header-item-link:hover, .header-item-link:focus {
    color: #404bbf; 
}
 
.header-address-list {
    list-style: none;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    color: #434455;
}

.contacts:hover, .contacts:focus {
    color: #404bbf;
}
 
.link {
    text-decoration: none;
}

/*---BUTTON---*/

button {
    color: var(--button-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.section-item-btn:hover, .section-item-btn:focus {
   color: #FFFFFF;
   background-color: #404BBF;
}

.section-item-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
}

/*---IMAGES---*/
 
.img-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42
}
.img-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*--Footer--*/

.footer {
    background-color: #2E2F42;
    text-decoration: none;
}

.footer-text {
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
